<app-navbar></app-navbar>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

  <div class="overlay"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
      <div class="shadow-bottom"></div>
      <ul class="list-unstyled menu-categories" id="accordionExample">

        <li class="menu" *ngFor="let item of menuItem">
          <a [routerLink]="[item.url]" aria-expanded="false" class="dropdown-toggle">
            <span>{{item.title}}</span>
          </a>
        </li>

      </ul>
      <!-- <div class="shadow-bottom"></div> -->

    </nav>

  </div>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">

      <router-outlet></router-outlet>

    </div>
  </div>
  <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->
