<div class="row layout-top-spacing">

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 1</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query1></app-query1>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 2</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query2></app-query2>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 3</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query3></app-query3>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 4</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query4></app-query4>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 5</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query5></app-query5>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 6</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query6></app-query6>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 7</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query7></app-query7>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 8</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query8></app-query8>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 9</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query9></app-query9>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 10</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query10></app-query10>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 11</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query11></app-query11>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 12</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query12></app-query12>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 13</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query13></app-query13>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 14</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query14></app-query14>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 15</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query15></app-query15>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 16</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query16></app-query16>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 17</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query17></app-query17>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 18</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query18></app-query18>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 19</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query19></app-query19>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Reporte 20</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area">
        <app-query20></app-query20>
      </div>
    </div>
  </div>

</div>
