<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="inventor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> INVENTOR </th>
      <td mat-cell *matCellDef="let element"> {{element.inventor}} </td>
    </ng-container>

    <ng-container matColumnDef="invention">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> INVENTO </th>
      <td mat-cell *matCellDef="let element"> {{element.invention}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator="matPaginator" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>
